Data: 1000 restaurants for each city

* Which cities have the greatest number of restaurants per capita?
* Which cities have the greatest concentration of mexican, ethiopian, etc.

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### Load cities

In [3]:
# Load cities info
df_cities = pd.read_csv('/gh/data2/yelp/city_pop.csv', index_col=0)
df_cities.head()

          city       state  population
0     New York    New York     8537673
1  Los Angeles  California     3976322
2      Chicago    Illinois     2704958
3      Houston       Texas     2303482
4      Phoenix     Arizona     1615017

# Load dataframes of restaurants

In [ ]:
cities_with_data